.navbar-default {
    background-color: #3c1460;
    border-color: #E7E7E7;
}

.nav.justify-content-center li a {
    color: #FFFFFF;
}

.navbar-toggler-icon{
    color: #FFFFFF;
}

.pull-rigth {
    float: right;
}

.btn.btn-secondary.dropdown-toggle{
    background-color: #FFFFFF;
    color: black;
    min-width: 100%;
    margin-left: 0px;
}

.dropdown-menu {
    min-width: 100%;
    text-align: left;
}
