.navbar-default {
    background-color: #3c1460;
    border-color: #E7E7E7;
}

.nav.justify-content-center li a {
    color: #FFFFFF;
}

.navbar-toggler-icon {
    color: #FFFFFF;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #FFFFFF;
    color: black;
    min-width: 100%;
    margin-left: 0px;
}

.dropdown-menu {
    min-width: 95%;
    text-align: left;
}

.number-input {
    border: 1px solid black;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.inverted {
    filter: invert(100%);
}

p #cart {
    background: #ff0000;
    border-radius: 50%;
    padding: 0px 0px 0px 0px;
}

p {
    color: #FFFFFF;
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

#Opret {
    position: absolute;
    top: 10%;
    left: 30%;
    height: 80%;
    width: 40%;
    z-index: 99;
}

#Opret input {
    margin-bottom: 10%;
}

